--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bloco_proposta; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.bloco_proposta (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    titulo character varying(200),
    texto text NOT NULL,
    imagem character varying(255),
    obrigatorio boolean,
    criado_por character varying(50),
    data_criacao timestamp without time zone
);


ALTER TABLE public.bloco_proposta OWNER TO superuser;

--
-- Name: bloco_proposta_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.bloco_proposta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bloco_proposta_id_seq OWNER TO superuser;

--
-- Name: bloco_proposta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.bloco_proposta_id_seq OWNED BY public.bloco_proposta.id;


--
-- Name: bloco_proposta_oferta; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.bloco_proposta_oferta (
    id integer NOT NULL,
    id_oferta integer NOT NULL,
    texto text NOT NULL,
    imagem character varying(255),
    criado_por character varying(50),
    data_criacao timestamp without time zone
);


ALTER TABLE public.bloco_proposta_oferta OWNER TO superuser;

--
-- Name: bloco_proposta_oferta_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.bloco_proposta_oferta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bloco_proposta_oferta_id_seq OWNER TO superuser;

--
-- Name: bloco_proposta_oferta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.bloco_proposta_oferta_id_seq OWNED BY public.bloco_proposta_oferta.id;


--
-- Name: oferta; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.oferta (
    id integer NOT NULL,
    tipo_oferta character varying(100) NOT NULL
);


ALTER TABLE public.oferta OWNER TO superuser;

--
-- Name: oferta_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.oferta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.oferta_id_seq OWNER TO superuser;

--
-- Name: oferta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.oferta_id_seq OWNED BY public.oferta.id;


--
-- Name: perfil; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.perfil (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    acesso_temporario boolean DEFAULT false,
    descricao character varying(255)
);


ALTER TABLE public.perfil OWNER TO superuser;

--
-- Name: perfil_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.perfil_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.perfil_id_seq OWNER TO superuser;

--
-- Name: perfil_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.perfil_id_seq OWNED BY public.perfil.id;


--
-- Name: proposta; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.proposta (
    id character varying(36) NOT NULL,
    nome_cliente character varying(100) NOT NULL,
    data_geracao timestamp without time zone,
    gerado_por character varying(50),
    arquivo character varying(255)
);


ALTER TABLE public.proposta OWNER TO superuser;

--
-- Name: proposta_blocos; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.proposta_blocos (
    proposta_id character varying(36),
    bloco_nome character varying(100)
);


ALTER TABLE public.proposta_blocos OWNER TO superuser;

--
-- Name: proposta_ofertas; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.proposta_ofertas (
    proposta_id character varying(36),
    oferta_id integer
);


ALTER TABLE public.proposta_ofertas OWNER TO superuser;

--
-- Name: rascunho; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.rascunho (
    id character varying(36) NOT NULL,
    nome_cliente character varying(100) NOT NULL,
    logo_cliente character varying(255),
    modelo_proposta character varying(255),
    usuario character varying(50),
    data_atualizacao timestamp without time zone,
    blocos_selecionados jsonb,
    blocos_temporarios jsonb
);


ALTER TABLE public.rascunho OWNER TO superuser;

--
-- Name: usuario; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.usuario (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    login character varying(50) NOT NULL,
    senha character varying(255) NOT NULL,
    status integer,
    id_perfil integer NOT NULL,
    ultimo_acesso timestamp without time zone,
    data_criacao timestamp without time zone DEFAULT now() NOT NULL,
    data_expiracao timestamp without time zone,
    superusuario boolean DEFAULT false
);


ALTER TABLE public.usuario OWNER TO superuser;

--
-- Name: usuario_bloco; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.usuario_bloco (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    bloco_nome character varying(100) NOT NULL,
    data_criacao timestamp without time zone
);


ALTER TABLE public.usuario_bloco OWNER TO superuser;

--
-- Name: usuario_bloco_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.usuario_bloco_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_bloco_id_seq OWNER TO superuser;

--
-- Name: usuario_bloco_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.usuario_bloco_id_seq OWNED BY public.usuario_bloco.id;


--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.usuario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_id_seq OWNER TO superuser;

--
-- Name: usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.usuario_id_seq OWNED BY public.usuario.id;


--
-- Name: usuario_permissoes_blocos; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.usuario_permissoes_blocos (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    bloco_nome character varying(100) NOT NULL,
    tipo_permissao character varying(20) NOT NULL,
    data_criacao timestamp without time zone
);


ALTER TABLE public.usuario_permissoes_blocos OWNER TO superuser;

--
-- Name: usuario_permissoes_blocos_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.usuario_permissoes_blocos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_permissoes_blocos_id_seq OWNER TO superuser;

--
-- Name: usuario_permissoes_blocos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.usuario_permissoes_blocos_id_seq OWNED BY public.usuario_permissoes_blocos.id;


--
-- Name: bloco_proposta id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.bloco_proposta ALTER COLUMN id SET DEFAULT nextval('public.bloco_proposta_id_seq'::regclass);


--
-- Name: bloco_proposta_oferta id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.bloco_proposta_oferta ALTER COLUMN id SET DEFAULT nextval('public.bloco_proposta_oferta_id_seq'::regclass);


--
-- Name: oferta id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.oferta ALTER COLUMN id SET DEFAULT nextval('public.oferta_id_seq'::regclass);


--
-- Name: perfil id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.perfil ALTER COLUMN id SET DEFAULT nextval('public.perfil_id_seq'::regclass);


--
-- Name: usuario id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id SET DEFAULT nextval('public.usuario_id_seq'::regclass);


--
-- Name: usuario_bloco id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_bloco ALTER COLUMN id SET DEFAULT nextval('public.usuario_bloco_id_seq'::regclass);


--
-- Name: usuario_permissoes_blocos id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_permissoes_blocos ALTER COLUMN id SET DEFAULT nextval('public.usuario_permissoes_blocos_id_seq'::regclass);


--
-- Data for Name: bloco_proposta; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: bloco_proposta_oferta; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.bloco_proposta_oferta (id, id_oferta, texto, imagem, criado_por, data_criacao) FROM stdin;
\.


--
-- Data for Name: oferta; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.oferta (id, tipo_oferta) FROM stdin;
1	Workplace
2	Infraestrutura
3	Cloud
4	Seguranca
5	Governanca
\.


--
-- Data for Name: perfil; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.perfil (id, nome, acesso_temporario, descricao) FROM stdin;
1	Governan├ºa	f	\N
2	SE	f	\N
3	AM	f	\N
4	COMERCIALPR	f	\N
5	COMERCIALRJ	f	\N
6	COMERCIALRS	f	\N
7	COMERCIALSP	f	\N
8	Comercial S├úo Paulo	f	\N
9	Sales Engineer (Arquitetos)	f	\N
\.


--
-- Data for Name: proposta; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: proposta_blocos; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: proposta_ofertas; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.proposta_ofertas (proposta_id, oferta_id) FROM stdin;
a4ee7b2d-ae01-4c14-901f-7a1c2b77fc8e	1
f563f8af-4141-49b1-8787-38741b3e23ec	2
6e60a6f3-bf8e-4565-910a-e141968074d3	1
452308a2-a2cd-43bd-85d7-6697a50d6b88	2
7a993f9e-1fd7-4618-8456-3265abfe1d9e	1
380c1204-f1ae-4179-8227-42c8d6209ff8	1
48eec32c-50d3-458d-8d1f-ca6ae278a0ae	1
\.


--
-- Data for Name: rascunho; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.rascunho (id, nome_cliente, logo_cliente, modelo_proposta, usuario, data_atualizacao, blocos_selecionados, blocos_temporarios) FROM stdin;
c8885125-28be-4bf7-8c54-48903a71eaf6	UNIMED				2025-04-28 02:19:49	[]	{}
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: usuario_bloco; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.usuario_bloco (id, usuario_id, bloco_nome, data_criacao) FROM stdin;
\.


--
-- Data for Name: usuario_permissoes_blocos; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.usuario_permissoes_blocos (id, usuario_id, bloco_nome, tipo_permissao, data_criacao) FROM stdin;
\.


--
-- Name: bloco_proposta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.bloco_proposta_id_seq', 12, true);


--
-- Name: bloco_proposta_oferta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.bloco_proposta_oferta_id_seq', 1, false);


--
-- Name: oferta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.oferta_id_seq', 5, true);


--
-- Name: perfil_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.perfil_id_seq', 9, true);


--
-- Name: usuario_bloco_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.usuario_bloco_id_seq', 1, false);


--
-- Name: usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.usuario_id_seq', 11, true);


--
-- Name: usuario_permissoes_blocos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.usuario_permissoes_blocos_id_seq', 1, false);


--
-- Name: bloco_proposta bloco_proposta_nome_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.bloco_proposta
    ADD CONSTRAINT bloco_proposta_nome_key UNIQUE (nome);


--
-- Name: bloco_proposta_oferta bloco_proposta_oferta_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.bloco_proposta_oferta
    ADD CONSTRAINT bloco_proposta_oferta_pkey PRIMARY KEY (id);


--
-- Name: bloco_proposta bloco_proposta_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.bloco_proposta
    ADD CONSTRAINT bloco_proposta_pkey PRIMARY KEY (id);


--
-- Name: oferta oferta_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.oferta
    ADD CONSTRAINT oferta_pkey PRIMARY KEY (id);


--
-- Name: oferta oferta_tipo_oferta_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.oferta
    ADD CONSTRAINT oferta_tipo_oferta_key UNIQUE (tipo_oferta);


--
-- Name: perfil perfil_nome_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_nome_key UNIQUE (nome);


--
-- Name: perfil perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_pkey PRIMARY KEY (id);


--
-- Name: proposta proposta_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta
    ADD CONSTRAINT proposta_pkey PRIMARY KEY (id);


--
-- Name: rascunho rascunho_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.rascunho
    ADD CONSTRAINT rascunho_pkey PRIMARY KEY (id);


--
-- Name: usuario_bloco usuario_bloco_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_bloco
    ADD CONSTRAINT usuario_bloco_pkey PRIMARY KEY (id);


--
-- Name: usuario usuario_login_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_login_key UNIQUE (login);


--
-- Name: usuario_permissoes_blocos usuario_permissoes_blocos_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_permissoes_blocos
    ADD CONSTRAINT usuario_permissoes_blocos_pkey PRIMARY KEY (id);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id);


--
-- Name: bloco_proposta_oferta bloco_proposta_oferta_id_oferta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.bloco_proposta_oferta
    ADD CONSTRAINT bloco_proposta_oferta_id_oferta_fkey FOREIGN KEY (id_oferta) REFERENCES public.oferta(id);


--
-- Name: proposta_blocos fk_proposta_blocos_bloco; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta_blocos
    ADD CONSTRAINT fk_proposta_blocos_bloco FOREIGN KEY (bloco_nome) REFERENCES public.bloco_proposta(nome);


--
-- Name: proposta_blocos fk_proposta_blocos_proposta; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta_blocos
    ADD CONSTRAINT fk_proposta_blocos_proposta FOREIGN KEY (proposta_id) REFERENCES public.proposta(id);


--
-- Name: proposta_ofertas fk_proposta_ofertas_oferta; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta_ofertas
    ADD CONSTRAINT fk_proposta_ofertas_oferta FOREIGN KEY (oferta_id) REFERENCES public.oferta(id);


--
-- Name: proposta_ofertas fk_proposta_ofertas_proposta; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta_ofertas
    ADD CONSTRAINT fk_proposta_ofertas_proposta FOREIGN KEY (proposta_id) REFERENCES public.proposta(id);


--
-- Name: proposta_blocos proposta_blocos_proposta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta_blocos
    ADD CONSTRAINT proposta_blocos_proposta_id_fkey FOREIGN KEY (proposta_id) REFERENCES public.proposta(id);


--
-- Name: proposta_ofertas proposta_ofertas_oferta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta_ofertas
    ADD CONSTRAINT proposta_ofertas_oferta_id_fkey FOREIGN KEY (oferta_id) REFERENCES public.oferta(id);


--
-- Name: proposta_ofertas proposta_ofertas_proposta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.proposta_ofertas
    ADD CONSTRAINT proposta_ofertas_proposta_id_fkey FOREIGN KEY (proposta_id) REFERENCES public.proposta(id);


--
-- Name: usuario_bloco usuario_bloco_bloco_nome_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_bloco
    ADD CONSTRAINT usuario_bloco_bloco_nome_fkey FOREIGN KEY (bloco_nome) REFERENCES public.bloco_proposta(nome) ON DELETE CASCADE;


--
-- Name: usuario_bloco usuario_bloco_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_bloco
    ADD CONSTRAINT usuario_bloco_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id) ON DELETE CASCADE;


--
-- Name: usuario usuario_id_perfil_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_perfil_fkey FOREIGN KEY (id_perfil) REFERENCES public.perfil(id);


--
-- Name: usuario_permissoes_blocos usuario_permissoes_blocos_bloco_nome_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_permissoes_blocos
    ADD CONSTRAINT usuario_permissoes_blocos_bloco_nome_fkey FOREIGN KEY (bloco_nome) REFERENCES public.bloco_proposta(nome) ON DELETE CASCADE;


--
-- Name: usuario_permissoes_blocos usuario_permissoes_blocos_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuario_permissoes_blocos
    ADD CONSTRAINT usuario_permissoes_blocos_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

